*.cpp linguist-language=C++
*.cc  linguist-language=C++
*.cxx linguist-language=C++
*.h   linguist-language=C++
*.hpp linguist-language=C++
*.hxx linguist-language=C++
*.inl linguist-language=C++

shaders/ linguist-vendored
build/ linguist-vendored
cmake-build-*/ linguist-vendored